/* 
 * =======================================================================
 * --------------------------- FONT FAMILY -------------------------------
 * =======================================================================
 */

@font-face{
	font-family: 'CormorantGaramond-Bold';
	src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-Bold.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-BoldItalic';
	src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-BoldItalic.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-Italic';
	src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-Italic.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-Light';
	src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-Light.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-LightItalic';
	src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-LightItalic.ttf');
	font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-Medium';
    src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-MediumItalic';
    src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-MediumItalic.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-Regular';
    src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-SemiBold.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBoldItalic';
    src: url('http://localhost:8888/projet4.vthamarai.com/public/font/cormorant-garamond/CormorantGaramond-SemiBoldItalic.ttf');
    font-weight: normal;
}


/* 
 * =======================================================================
 * ------------------------------ BODY -----------------------------------
 * =======================================================================
 */

html, body{
	font-family: 'CormorantGaramond-Regular', Arial, sans-serif;	
 	height: 100%;
	display: -ms-flexbox;
	display: flex;
	color: #000000;
}

body.cover{
	background-image: url("http://localhost:8888/projet4.vthamarai.com/public/images/cover.jpg");
} 

body.book{
 	background-image: url("http://localhost:8888/projet4.vthamarai.com/public/images/paper.jpg");
  	background-repeat: repeat-x;
  	background-attachment: fixed;
}

h1, h2{
	font-family: 'CormorantGaramond-Bold', Arial, sans-serif;
}

.infoCover{
	margin: auto 25%;
	margin-top: 10%;
	padding: 10px;
	position: absolute;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

.infoCover > p{
	text-align: justify;
	color: black;
	padding: 15px;
}

.author{
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.buttonNovel{
	text-align: right;
}
