/* 
 =======================================================================
 --------------------------- FONT FAMILY -------------------------------
 =======================================================================
 */

@font-face{
	font-family: 'CormorantGaramond-Bold';
	src: url('../font/cormorant-garamond/CormorantGaramond-Bold.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-BoldItalic';
	src: url('../font/cormorant-garamond/CormorantGaramond-BoldItalic.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-Italic';
	src: url('../font/cormorant-garamond/CormorantGaramond-Italic.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-Light';
	src: url('../font/cormorant-garamond/CormorantGaramond-Light.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'CormorantGaramond-LightItalic';
	src: url('../font/cormorant-garamond/CormorantGaramond-LightItalic.ttf');
	font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-Medium';
    src: url('../font/cormorant-garamond/CormorantGaramond-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-MediumItalic';
    src: url('../font/cormorant-garamond/CormorantGaramond-MediumItalic.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-Regular';
    src: url('../font/cormorant-garamond/CormorantGaramond-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    src: url('../font/cormorant-garamond/CormorantGaramond-SemiBold.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBoldItalic';
    src: url('../font/cormorant-garamond/CormorantGaramond-SemiBoldItalic.ttf');
    font-weight: normal;
}


/* 
 =======================================================================
 ------------------------------ BODY -----------------------------------
 =======================================================================
 */

html, body{
	font-family: 'CormorantGaramond-Regular', Arial, sans-serif;	
/*	display: -ms-flexbox;
	display: flex;*/
	color: #000000;
	margin: auto;
	width: 100%;
	min-height: 100%;
}

h1, h2, h3{
	font-family: 'CormorantGaramond-Bold', Arial, sans-serif;
}

/* 
 =======================================================================
 ------------------------------ COVER ----------------------------------
 =======================================================================
 */
body.cover{
	background-image: url("../images/cover.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-size: 20px;
} 

.infoCover{
	margin: auto 25%;
	margin-top: 10%;
	padding: 10px;
	position: absolute;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.infoCover > p{
	text-align: justify;
	color: black;
	padding: 15px;
}

.author{
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.buttonNovel{
	text-align: right;
}

/* 
 =======================================================================
 ------------------------------- BOOK ----------------------------------
 =======================================================================
 */

/*
 *
 * body
 *
 */
body.book{
  	font-size: 20px;
  	background-image: url("../images/cover.jpg");
	background-attachment: fixed;
	background-size: cover;
}

body > footer{
	background-color: black;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding: 35px;
	display: flex;
 	width: 100%;
}

footer > div{
	margin:20px;
}

.infoAuthor{
	width: 50%;
}

.infoSite{
	width: 50%;
}

a.infoSite{
	color: red ;
}

.titleNovel{
	font-style: italic;
	font-weight: bold;
}

/*
 *
 * header
 *
 */
header{
	/* header sticky */
	position: -webkit-sticky;  /*required for Safari*/
    position: sticky;
    top: 0;/* required as well. */
	z-index: 99;
}

.on, .off{
	padding: 10px;
	color: white;
	border-radius: 50%;
}

.on{
	background-color: green;
}

.off{
	background-color: red;
}

.navbar-brand{
	font-weight: bold !important;
}
.buttonsHeader{
	display: inline-block;
}

.buttonsHeader > a{
	padding: 10px;
}

/*
 *
 * chapters 
 *
 */
.story{
	margin: auto 15%;
	padding-bottom: 20px;
	background-image: url("../images/paper.jpg");
  	background-attachment: fixed;
  	background-size: cover;
}

.story > h1{
	margin:10px;
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
/*	background-image: url("../images/tree.png");
    background-repeat: repeat-x;
    background-size: 30px 30px;
    background-position: bottom;*/
}

.story > div{
	text-align: justify;
	padding: 20px;
	padding-left: 70px;
	padding-right: 70px;
}

/*
 *
 * comments form
 *
 */

.comments{
	display : flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto 15%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

.comments label{
	display: none;
}

.comments input{
	margin: 1px;
}

.listComments{
	overflow-x: scroll;
	width: 40%;
	height: 300px;
}

.listComments p{
 	margin: 0;
}

.listComments span{
 	font-weight: bold;
}

/*
 *
 * Login/Registration forms
 *
 */

.connexionPage{
	margin: auto 15%;
	margin-top: 10%;
	padding: 10px;
	position: absolute;
	text-align: center;
	border-radius: 5px;
	width: 70%;
	height: 50%;
	background-attachment: fixed;
	background-size: cover;
}

.formConnexion{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: justify;
}

.connexion{
	padding: 50px;
}

.registration{
	padding: 50px;
}